body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #46A151;
    color: white;
    padding: 1em 0;
    text-align: center;
}
nav {
    background-color: rgb(47, 146, 77);
    color: white;
    padding: 0.5em 0;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
}
.container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: #46A151;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

df-messenger {
    z-index: 999; 
    position: fixed;
    bottom: 20px;
    right: 20px;
    bot-message: #46A151;
    chat-background-color: #46A151;
    font-color: white;
    minimized-chat-close-icon-color: #46A151;
    send-icon: #46A151;
    user-message: #46A151;
  }
