body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #46A151;
    color: white;
    padding: 1em 0;
    text-align: center;
}
nav {
    background-color: rgb(47, 146, 77);
    color: white;
    padding: 0.5em 0;
    text-align: center;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 1em;
}
.container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: #46A151;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos específicos para o chatbot do Dialogflow Messenger */
df-messenger {
    z-index: 999;
    position: fixed;
    bottom: 20px;
    right: 20px;

    /* Cores para a interface do chatbot */
    --df-messenger-button-titlebar-color: #46A151;
    --df-messenger-bot-message: #878fac;
    --df-messenger-chat-background-color: #f4f4f4;
    --df-messenger-font-color: #333333;
    --df-messenger-send-icon-color: #46A151;
    --df-messenger-input-box-color: white;

    /* Cores das bolhas de mensagem */
    --df-messenger-bot-message-background-color: #e0e0e0;
    --df-messenger-bot-message-font-color: #333333;
    --df-messenger-user-message-background-color: #46A151;
    --df-messenger-user-message-font-color: white;

    /* Opcional: cor do ícone de minimizar/fechar */
    --df-messenger-minimized-chat-close-icon-color: #46A151;
}
